body {
    margin: 0;
}

header {
  background-image: url(../images/banner.svg);
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 10rem;
  display: flex;
}

.main-nav {
  font-family: sans-serif;
  background-image: -webkit-linear-gradient(right, #ffa29c 5.19%, #643cfa 100%);
  background-image: linear-gradient(270deg, #ffa29c 5.19%, #643cfa 100%);
  padding: 1rem;
  margin-left: 5rem;
  height: 3rem;
  position: relative;
  top: 1rem;
  left: 5rem;
}

.main-nav a {
  display: inline;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  line-height: 3rem;
  text-transform: uppercase;
}

main{
    display: block;
    padding-top: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px; 
}

.klok {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;

}

footer {
    background-color: #009;
    width: 100%;  
}

.container-socials{
    padding: 1rem;
    
}

footer ul{
    list-style: none;
    
}

footer ul li{
    padding: 0.5rem;
}

footer a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 1rem;
}